*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
    
}

.container{
    width: 100%;
    height: 100%;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);


    overflow: none;
}

.navBar{
    width:100%;
    min-height:80px;
    background-image: linear-gradient( 109.6deg,  rgba(102,51,153,1) 11.2%, rgba(2,0,4,1) 91.1% );
    display: flex;
    justify-content: space-between;
    
    padding-left: 2rem;
    padding-right: 2rem;
    align-items: center;
}

a{
    text-decoration: none;
    font-size: 1.5rem;
    color: azure;
    align-self: end;
    /* border: 1px solid transparent; */
}

a:hover{
    border-bottom: 2px solid white;
}

.navLink{
    display: flex;
    gap: 20px;
}
.navLink>a{
    align-self: flex-end;
}

.navName{
    display: flex;
}

.navName>h1{
    align-self: flex-start;
}

.navBar h1{
    font-size: 2.5rem;
    color: azure;
  
    
    
}

@media(max-width:700px){
    body{
        /* overflow-x: none; */
        overflow-x: hidden;
    }
    header{
        width: 100%;
    }
    .navBar a{
        opacity: 0;
    }
    .footerBox{
        font-size: 0.7rem;
    }
    /* main{
        width: 400px;
        margin: 0;
        gap: 1rem;
    } */
    main .contentBox{
        width: 100%;
        margin: 0;
        height:2000px;
    }
    .rightBox{
        height:350px;
        width:400px;
    }
    .rightBox img{
        overflow: none;
        height:80px;
        width: 200px;
        margin-top: 40px;
    }
    .items{
        flex-wrap: wrap;
    }
}

.footerBox{
    height:50px;
    width: 100%;
    color: azure;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient( 109.6deg,  rgba(102,51,153,1) 11.2%, rgba(2,0,4,1) 91.1% );
}

.contentBox{
    width: 70%;
    margin: auto;
    box-shadow: 0px 0px 35px black;
    background-color: rgb(235, 235, 235);
    display: flex;
    flex-direction: column;
    gap: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 2rem;
}

.items{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    
}

.rightBox img{
    height: 400px;
    /* width: 300px; */
    border-radius: 20px;
    transition: all 0.6s linear 0s;
    
}

.rightBox img:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 30px black;
}

.leftBox{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.items h2{
    font-size: 2.4rem;
    text-shadow: #FC0 1px 0 10px;
    
    
}

.items h3{
    font-size: 1.5rem;
    text-shadow: 1px 1px 2px pink;
}

.ingBox{
    margin-top: 10px;
}

.ingBox>li{
    font-size: 1.1rem;
    margin-top: 5px;
    text-shadow: #6568a0e0 1px 0 10px;
}

.recipeBox{
    margin-top: 10px;
}
.recipeBox>li{
    font-size: 1.1rem;
    margin-top: 5px;
    text-shadow: #6568a0e0 1px 0 10px;
}

